div.result-card-row {
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;

  span.property {
    padding-right: 0.3rem;
    font-weight: bold;
  }
  span.value {
    color: #5c5c5c;
  }
;
}
